.card-container {
    perspective: 1000px;
}

.card {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-color: #eaeaea;
    transform: rotateY(0deg);
}

.back {
    background-color: #f8f8f8;
    transform: rotateY(180deg);
}

.card-container:hover .card {
    transform: rotateY(180deg);
}
